* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.App {
  background-image: url('../images/leaves-background.png');
  height: 100vh;
}

/* navbar styles */
.navbars {
  color: white;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-item {
  padding: 1rem;
  font-size: 1.5rem;
}

/* about styles */
.about {
  display: flex;
  height: 80vh;
}

.about-me {
  color: white;
  display: flex;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-pic {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}