* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.App {
  background-image: url('./images/leaves-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


/* navbar styles */
.navbars {
  color: white;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.nav-title {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-item {
  padding: 1rem;
  font-size: 1.5rem;
}

#nav-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
}

#nav-button:hover {
  cursor: pointer;
}

/* about styles */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-me {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-pic {
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
}

.nav-item button.active {
  color: #768ea6 !important;
}

/* contact styles */
.contact-form {
  padding: 1em;
}

/* projects page styles */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.project-box {
  border: 1px solid white;
  border-radius: 25%;
  height: 25rem;
  width: 25rem;
  margin: 1rem;
  position: relative;
}

.project-box:hover {
  filter: drop-shadow(8px 8px 10px gray);
  display: block;
}

.icon-link {
  opacity: 0;
}

.project-box:hover .icon-link {
  opacity: 2;
  background-color: white;
}

#project-1 {
  background-image: url('./images/Screenshot\ 2023-05-09\ 133612.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}


#project-2 {
  background-image: url('./images/go-for-fitness-screenshot.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-3 {
  background-image: url('./images/Screenshot\ 2023-05-02\ 075901.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-4 {
  background-image: url('./images/Screenshot\ 2023-07-13\ 162059.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-5 {
  background-image: url('./images/Screenshot\ 2023-06-12\ 135817.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#project-6 {
  background-image: url('./images/Screenshot\ 2023-06-12\ 140045.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* resume page styles */
.box-1,
.box-2 {
  border: 1px solid white;
  border-radius: 30%;
  height: 25rem;
  width: 25rem;
}

/* footer styles */
.icons {
  height: 3rem;
  width: 3rem;
}


/* media queries */
@media screen and (max-width: 768px) {
  .App {
    height: auto;
  }

  .nav-items {
    font-size: .5rem;
  }

  #nav-button {
    font-size: 1rem;
  }

  .navbars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
  }

  /* .resume-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .profile-pic {
    height: 14rem;
    width: 14rem;
  }

  .box-1,
  .box-2 {
    height: 22rem;
    width: 22rem;
  }

}